# use glob syntax
syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.docstates
[Aa]pp_[Dd]ata
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
source/packages/*
!source/packages/repositories.config
_ReSharper*/
build/*
[Tt]humbs.db
[Tt]est[Rr]esult*
*.[Pp]ublish.xml
*.resharper
